# Виртуальные окружения
venv/
.env/

# Кэш и временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
*.log

# Настройки IDE
.vscode/
.idea/

# Данные (если не нужно хранить в репозитории)
data/*.csv
data/*.json

# Системные файлы
.DS_Store
Thumbs.db
